
{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(images/planner.png);
    height: 160vh;
    background-size: cover;
    background-position: center;

}

.nav-wrapper
{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav-wrapper li
{
display: inline-block;
}

.nav-wrapper li a
{
    color: black;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Work Sans", sans-serif;
    font-size: 15px;
}

.nav-wrapper li.active a
{
    border: 1px solid black;

}

.nav-wrapper li a:hover
{
    border: 1px solid black;
}

body
{
    font-family: sans-serif;
}

.row
{
    max-width: 1750px;
    margin: auto;
}

.tips
{
    position: absolute;
    width: 950px;
    margin-left: 0px;
    margin-top: 0px;
}

h1
{
    color: darksalmon;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 150px;
}

.button
{
    margin-top: 30px;
    margin-left: 440px;
}

.bt
{
    border:1px solid black;
    padding: 10px 30px;
    color: black;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}

.bt-one
{
    background-color: darksalmon;
    font-family: "Work sans",sans-serif;
}

.bt-two
{
    background-color: darksalmon;
    font-family: "Work sans", sans-serif;

}

.bt-three
{
    background-color: darksalmon;
    font-family: "Work sans", sans-serif;
    
}




